# Google Cloud Platform configuration
GOOGLE_CLOUD_PROJECT=<YOUR_GCP_PROJECT_ID>

# Reasoning Engine Agent Runtime configuration
AGENT_RUNTIME_ID=<YOUR_VERTEX_AI_REASONING_ENGINE_ID>

# Server Port (Default is 8080)
PORT=8080
