# Google Cloud Platform configuration
GOOGLE_CLOUD_PROJECT=gen-lang-client-0746929700

# Reasoning Engine Agent Runtime configuration
AGENT_RUNTIME_ID=projects/613449614619/locations/us-east1/reasoningEngines/8507123774242422784

# Server Port (Default is 8080)
PORT=8080
